/* Global Styles */
body {
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Headings */
h1, h2, h3 {
  margin: 2rem 0;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  color: #333;
}

/* Paragraphs */
p {
  margin: 1rem 0;
  text-align: justify;
}

/* Panels */
.panel {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: #fff;
  padding: 2rem;
  margin: 2rem 0;
}

/* Header */
header {
  background-color: #5795b9;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* Labels and Alerts */
.labelStatus[role="alert"] {
  padding-left: 1rem;
  color: #333;
  font-weight: bold;
}

/* Miscellaneous */
.display {
  margin-left: 1.4rem;
  color: #666;
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
  margin-bottom: 2rem;
}

dd {
  font-weight: bold;
}

/* Specific IDs */
#login {
  background-color: #f9f9f9;
}

#read {
  background-color: #e6e6e6;
}
